body {
  font-family: georgia, sans-serif;
  margin-left:auto;
  margin-right:auto;
}

@media only screen and (min-width: 600px) {
  body {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: 95%;
  }
}

h1 {
  color: rgb(125, 119, 92);
}

p {
  color: rgb(85, 87, 83);
  font-style: italic;
  font-weight: 400;
  font-size: larger;
}

a {
  font-weight: 700;
  color: rgb(150, 133, 250);
}

#footer {
  text-align: right;
}