<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="all">
    <title>The Great Canary Game</title>
    <style>
      {% include "frontend/main.css" %}
    </style>
  </head>
  <body>
    <div id="header">
    <h1>The Great Canary Game</h1>
    </div>
    <div id="content">
      <p>
        {% for parts in sentences %}
          {{ parts|random }}
        {% endfor %}
      </p>
      <p>What do you prefer now?</p>
      <ul>
        <li><a href="/{{resource}}_1">follow this way</a></li>
        <li><a href="/{{resource}}_2">or this other way</a></li>
        <li><a href="/{{resource}}_3">or this other</a></li>
      </ul>
      <p>If you want something else, just <a href="/{{resource}}">click here</a>!</p>
      <div id="footer">
        <br>Remember that this is the only true <b>Great Canary Game</b>!!</br>
        ({{resource}} edition)</p>
      </div>
    </div>
  </body>
</html>